[Unit]
Description=Termeh watermark Telegram bot
After=multi-user.target
Conflicts=getty@tty1.service
[Service]
Type=simple
ExecStart=/root/miniconda3/envs/telegram/bin/python /root/bots/termeh/app.py
StandardInput=tty-force
RemainAfterExit=yes
Restart=on-failure
RestartSec=1s
[Install]
WantedBy=multi-user.target

#sudo nano /lib/systemd/system/termeh.service
#sudo systemctl daemon-reload 
#sudo systemctl enable termeh.service
#sudo systemctl start termeh.service
